html {
  @apply text-base;
}

body {
  @apply bg-orange-50 font-primary font-normal leading-relaxed text-green-800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-primary font-bold leading-tight text-green-900;
}

h1,
.h1 {
  @apply font-primary text-h1-sm md:text-h1;
}

h2,
.h2 {
  @apply text-h2-sm md:text-h2;
}

h3,
.h3 {
  @apply text-h3-sm md:text-h3;
}

h4,
.h4 {
  @apply text-h4;
}

h5,
.h5 {
  @apply text-h5;
}

h6,
.h6 {
  @apply text-h6;
}

p{
  @apply text-lg;
}

code {
  @apply before:hidden after:hidden;
}
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .banner-image {
    margin-top: 12px;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;

    .banner-image {
      margin-top: 0;
      margin-left: 20px;
    }
  }
}
